
/* box classes */
html {margin : 0;padding : 0;}

body {margin : 0; padding : 0;background-color:#FFFFFF;}

.mendiv_pos {position:fixed; top:15px; right:15px; width:230px; height:130px; z-index:95;}

.layer { width:200px; background-color:#fffaac; border:solid 1px #000000; }

.top_lo {background:url(../resources/templates/rahmen24/pyslice-0-0.png);width:10px; height:10px; background-repeat:no-repeat;}

.top_o {background:url(../resources/templates/rahmen24/pyslice-0-1.png);height:10px;background-repeat:x-repeat;color:#5d5d5d;}

.top_re {background:url(../resources/templates/rahmen24/pyslice-0-3.png);width:10px;height:10px;background-repeat:no-repeat;}

.mid_l {background:url(../resources/templates/rahmen24/pyslice-1-0.png); width:10px;background-repeat:y-repeat;}

.mid_r {background:url(../resources/templates/rahmen24/pyslice-1-3.png); width:10px;background-repeat:y-repeat;}

.mid {font-size: 13px;font-family:arial, helvetica, sans-serif; color:#000000;}

.bot_lo {background:url(../resources/templates/rahmen24/pyslice-3-0.png); width:10px; height:10px; background-repeat:no-repeat; }

.bot {background:url(../resources/templates/rahmen24/pyslice-3-1.png); height:10px; background-repeat:x-repeat;}

.bot_re {background:url(../resources/templates/rahmen24/pyslice-3-3.png); width:10px;height:10px;background-repeat:no-repeat;}

td form {
    margin-top:0px;
    margin-bottom:0px;
    border-spacing:0px;
}

.tabl_box { 
  border-style: hidden;
  outline:0px;
  border-width:1px;
  border-spacing:1px;
  border-collapse:collapse;
  empty-cells:show;
}

.in_tabl_box { 
  border-spacing:0px;
  empty-cells:show; 
  border-collapse:collapse; 
  background-color:#ffffff;
}
.empty_button{
  empty-cells:show;
  width:30px;
}

.version_list {
    width:180px;
    margin-left:5px;
    margin-right:5px;
    margin-top:1px;
    margin-bottom:1px;
    border:1px solid;
    border-spacing:0px; 
    empty-cells:show;
}
.navcard {
    width:180px;
    height:130px;
    margin-left:5px;
    margin-right:5px;
    margin-top:2px;
    margin-bottom:2px;
    border:1px solid;
    border-spacing:0px; 
    empty-cells:show;
    background-image:url(php/image.php);
    background-repeat:no-repeat;   
}

//----------------------------------------------------------------klappmenue-----nur klappe


div.dyn {
  position:relative;
  overflow:hidden;
  padding:0;
}

div.dyn table {
  //width:100px;
  right:245px;
  background-color:transparent;
  position:fixed;
  margin:0px;
  padding:0px;
  border-collapse:collapse;
  empty-cells:show;  
  border: 1px; 
  border-style: solid;
  z-index:96; 
}

a.dyn {
  display:block;
}

div.dyn table td {
  empty-cells:show;
  border-collapse:collapse;  
  border:0px none;
  border-spacing:0px;
}

.noframe{
  border:0px none;
  border-collapse:collapse;
}

.pos_version_div{
  background-color:transparent;
  position:fixed;
  right:250px;
  top:0px;
  z-index:97;
}

